.search-container {
  position:fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  opacity: 1;
}
input#search-bar {
  font-size: 3rem;
  text-align: center;
  width: 80%;
  margin-top: 40%;
  margin-left: 10%;
  margin-right: 10%;
  border: none;
  background-color: rgba(0,0,0,0);
  color: white;
  border-bottom: solid white 3px;
}

input#search-bar:focus{
    outline: none;
}
.search-button-container {
  margin: 60px;
  text-align: center;
}
.search-button {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border: 2px white solid;
  border-radius: 4px;
  color: white;
}
.search-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.hidden {
    opacity: 0;
    display: none;
}
